<!--
  ~ Copyright 2015-2020 Alexandr Evstigneev
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<ul>
  <li>Significant editor and completion (wip) performance improvements.</li>
  <li>Added support for <code>Function::Parameters</code> syntax [WIP], <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/1674">#1674</a></li>
  <li>Editor performance while typing significantly improved, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2236">#2236</a></li>
  <li>Added support for <code>Copyright plugin</code> allowing you to add/update copyright to your <code>pm</code> files (NB: preview for
    block mode works wrong, but plugin should properly insert/update copyright in POD section).
    <code>${perlfile.packageName}</code> variable supported in addition to <a
        href="https://www.jetbrains.com/help/idea/copyright-profiles.html">standard set</a>,
    <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2168">#2168</a></li>
  <li>Improved automatic second colon insertion/deletion handling (optional smart keys feature), <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2199">#2199</a></li>
  <li>Implemented automatic braces insertion for string substitution on typing (configurable), <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2251">#2251</a></li>
  <li>Improved files downloading for Docker and WSL based interpreters, should be much faster now, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2179">#2179</a></li>
  <li>Fixed type inferrence for return-less simple expression methods, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2142">#2142</a></li>
  <li>Fixed problem with symlinked libraries in WSL distribution, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2174">#2174</a></li>
  <li>Adjusted parsing and formatting for function-like expressions, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2211">#2211</a></li>
  <li>Improved parsing for readline operator (diamond operator), <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2213">#2213</a>
  <li>Improved <code>Install Perl</code> action for perlbrew, now showing all available distributions, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2221">#2221</a>
  <li>It's now possible to configure different colors for differently based numbers: decimal, hexadecimal, octal and binary, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2225">#2225</a>
  <li>Formatter may now be configured to keep <code>-></code> signs on the same line when wrapping chained dereferences, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2226">#2226</a>
  <li>Better documentation rendering, some trailing sections could be missing, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2228">#2228</a>
  <li>Formatter is no longer mangling extended regular expressions, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2232">#2232</a>
  <li>Performance for enter typing in the large files has been significantly improved, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2254">#2254</a></li>
  <li>Replacement part of <code>s///</code> regular expression is now parsed and highlighted as a <code>qq</code> string, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/1988">#1988</a>
  <li>Single quote delimiters are now honored in <code>qx</code> and regexp replacement, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2233">#2233</a>
  <li>Matching and replacement blocks of <code>tr</code> operator are now properly lexed and highlighted, honoring single quote delimiters,
    <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2224">#2224</a>
  <li>Added support for character substitutions in strings, regexps and transliterations: lexing, highlighting, folding, tooltips, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2218">#2218</a>
  <li>Added support for character escaping in strings lists: lexing, highlighting, <a
      href="https://github.com/Camelcade/Perl5-IDEA/issues/2245">#2245</a>
  <li>Fixed number of parsing bugs, <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2215">#2215</a>
  </li>
  <li>Perl 5.22:
    <ul>
      <li>String bitwise operators support: parsing, highlighting, quick-doc, formatting, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2210">#2210</a></li>
      <li>Double diamond operator support: parsing, highlighting, quick-doc, formatting, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2212">#2212</a></li>
    </ul>
  </li>
  <li><a href="https://metacpan.org/pod/release/XSAWYERX/perl-5.32.0/pod/perldelta.pod">Perl 5.32</a>:
    <ul>
      <li>Perl 5.32 target version, <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2205">#2205</a></li>
      <li><code>isa</code> expression parsing, highlighting, formatting, quick-doc and target version validation, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2206">#2206</a></li>
      <li>Chained comparisons and equality checks support: parsing, highlighting, formatting and target version validation, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2208">#2208</a></li>
    </ul>
  </li>
  <li>Code completion:
    <ul>
      <li>Completion no longer suggests two lookup elements per namespace with different suffixes, to provide useful elements instead,
        dereference is now auto-completed and invokes pop-up after namespace, <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2242">#2242</a>
      </li>
      <li>You may now complete variables without typing a sigil, just with variable name (experimental feature), <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2170">#2170</a></li>
      <li>You may now complete unicode character names in <code>\N{}</code> substitution (NB: currently all names known by your JRE
        suggested without filtering or extending by target perl version), <a
            href="https://github.com/Camelcade/Perl5-IDEA/issues/2250">#2250</a></li>
      <li>Completion has been reworked and now should be much faster and relevant than before, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2197">#2197</a></li>
      <li>Global variables are now shown in the short form: only variable name. Namespace specified in the left side, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2187">#2187</a></li>
      <li>Global variables aliased with <code>our</code> keyword in the current file are now available in completion with their short names,
        <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2191">#2191</a></li>
      <li>Global variables are now completable by name only, namespace inserted automatically (except spammy ones, like @ISA, @EXPORT and
        friends, $VERSION), require manual completion invocation, <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2185">#2185</a>
      </li>
      <li>Completion at bare filehandle now suggests namespaces, subs and variables, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2202">#2202</a></li>
      <li>Completion at bare hash index now suggests namespaces, subs and variables, <a
          href="https://github.com/Camelcade/Perl5-IDEA/issues/2184">#2184</a></li>
      <li>Fixed problems with variables completion if name is already braced, <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2183">#2183</a>
      </li>
      <li>Completion of variable is no longer eats punctuation after a sigil, <a href="https://github.com/Camelcade/Perl5-IDEA/issues/2182">#2182</a>
      </li>
    </ul>
  </li>
</ul>
